<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>kRequireSpaceAfterColon</key>
<false/>
<key>kRequireOpenBraceOnMethodSignatureLine</key>
<false/>
<key>kRequireOpenBraceOnConditionalStatementLine</key>
<false/>
<key>kRequireSpaceBeforeOpeningBrace</key>
<true/>
<key>KNumberOfEmptyLinesBetweenMethods</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesBeforeImplementation</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesAfterImplementation</key>
<integer>1</integer>
<key>kMethodParameterPrefix</key>
<string></string>
<key>kElseFormatRule</key>
<integer>2</integer>
<key>kEqualSpacingRule</key>
<integer>1</integer>
<key>kRequireSpaceAfterConditionalStatement</key>
<true/>
<key>kMathSpacingRule</key>
<integer>1</integer>
<key>kElseIfFormatRule</key>
<integer>2</integer>
<key>kInterfaceColonSpacingRule</key>
<integer>1</integer>
<key>kRequireSpaceAfterCommas</key>
<true/>
<key>kRequireSpaceBeforeCaseColons</key>
<false/>
<key>kSignatureAsteriskSpacingRule</key>
<integer>3</integer>
<key>kNumberOfEmptyLinesAboveClassExtension</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesAboveInterface</key>
<integer>1</integer>
<key>kViolationsShouldBeErrors</key>
<false/>
<key>kRequireSpaceAfterParameterType</key>
<false/>
<key>kStaticVariableAsteriskSpacingRule</key>
<integer>0</integer>
<key>kNumberOfEmptyLinesBeforePragma</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesAfterPragma</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesAboveEnd</key>
<integer>1</integer>
<key>kComparisonSpacingRule</key>
<integer>1</integer>
<key>kNumberOfEmptyLinesAboveCategory</key>
<integer>1</integer>
<key>kRequireSpaceAfterPropertyDeclaration</key>
<false/>
<key>kRequireSpaceAfterMethodType</key>
<true/>
<key>kRequireSpaceAfterReturnType</key>
<false/>
<key>kRequireSpaceAfterPropertyTypeDeclaration</key>
<true/>
<key>kAsteriskSpacingRule</key>
<integer>0</integer>
<key>kRequireSpaceBeforeProtocolDeclarations</key>
<true/>
<key>kRequireSpaceBetweenTernaryOperators</key>
<true/>
<key>kRequireSpaceBeforeParameter</key>
<false/>

</dict>
</plist>